@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* import des styles du ou des layouts */
@import "./layouts/root/style.css";

/* import des styles des pages */
@import "./pages/svg-demo1/style.css";

/* import des styles des composants UI */
@import "./ui/header/style.css";
@import "./ui/footer/style.css";



:root {
  font-family: 'Inter', sans-serif;
  /* Primitives Tokens */
  --color-neutral-100: #ffffff;
  --color-neutral-900: #1a1a1a;
  --color-blue-500: #3b82f6;
  --color-green-500: #10b981;
  --color-red-500: #ef4444;
  --color-cyan-500: #06b6d4;
  --color-purple-500: #a855f7;
  --color-pink-500: #ec4899;
  --color-orange-500: #f97316;

  --color-dark-bg: #0B1121;

  /* Semantics Tokens*/
  --color-bg: var(--color-neutral-100);
  --color-fg: var(--color-neutral-900);
  --color-primary: var(--color-blue-500);
  --color-success: var(--color-green-500);
  --color-danger: var(--color-red-500);

  --color-ue-comprendre: var(--color-blue-500);
  --color-ue-concevoir: var(--color-purple-500);
  --color-ue-exprimer: var(--color-pink-500);
  --color-ue-developper: var(--color-green-500);
  --color-ue-entreprendre: var(--color-orange-500);

  --color-status-inactive: #94a3b8;
  --color-status-progress: var(--color-ue-entreprendre);
  --color-status-active: #4dff88;
}



body,
svg text,
svg tspan {
  font-family: 'Inter', sans-serif;
}

.translate-offscreen {
  transform: translateX(130%);
}